.contactcontainer{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 15px;
    max-width: 90%;
    align-items: center;
    border-radius: 25px;
    margin: 3%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.mem{
    display: flex;
    justify-content: flex-start;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    margin-top: 2%;
    margin-left: 3%;
}
.name{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    margin-right: 11%;
    margin-left: 5%;
}
.phone{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.phone a{
    text-decoration: none;
}
