.form1{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 15px;
    max-width: 90%;
    align-items: center;
    border-radius: 25px;
    margin: 3%;
}
.feild{
    justify-content:space-evenly;
    padding: 3px;
    align-items: auto;
    margin-top: 3%;
}
.feild input{
    margin-right:1%;
    margin-left: 1%;
    margin-top: 1%;
    width: 75%;
    padding: 10px;
    align-items: center;
}
.feild input:focus{
    border-color: black;
}
.feild label{
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: 500;
}
.feildcheck{
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    margin-top: 2%;
}

.btn{
    padding: 10px;
    background-color: rgba(12, 101, 235, 0.651);
    border-radius: 20px;
    margin-left: 40%;
    margin-top: 3%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-weight: 400;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
}
 button:hover{
    color: black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
