.lable{
    padding: 10px;
    margin-left: 2%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: large;
    display: inline-block;
    margin: 3%;
    max-width: fit-content;
    max-height: fit-content;
}
.value{
    display: inline;
}
.row{
    align-items: center;
}