.foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(17, 25, 71, 0.697);
    padding: 10px;
    margin-top: 60px;
    color: rgb(228, 221, 221);

}
.p1{
    display: flex;
    justify-content: space-between;
}
.cont{
    max-width: 600px;
}