.hdr{
    display: flex;
    background-color: rgb(0, 153, 255);
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.logo{
    font-size: larger;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    font-weight: 900;
    text-decoration: none;
}
.navlinks{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.li{
    padding: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.3s ease;
    margin: 5px;
}
.li:hover{
    color: black;
    transform: scale(0.9);
}