.space {
  margin: 2% 5%;
  background-color: #f5f9fa;
  border: 2px solid rgba(99, 99, 99, 0.179);
  max-height: 600px;
  overflow-y: auto;      
  overflow-x: hidden;   
  box-sizing: border-box;
}

/* Header */
.spacehead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 15px;
  border-bottom: 2px solid rgba(99, 99, 99, 0.179);
  flex-wrap: wrap; 
  gap: 8px;
}

.spacetitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}

.count span {
  margin-left: 3px;
  color: #cf334b;
}

/* Button */
.blu {
  margin: 24px auto;
  padding: 12px;
  width: 60%;
  max-width: 600px;
  background-color: #0175aa;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: block;
}

.blu:hover {
  background-color: #01628f;
}

.blu:disabled {
  background-color: #9bbccc;
  cursor: not-allowed;
}


@media (max-width: 768px) {
  .space {
    margin: 2% 3%;
  }

  .blu {
    width: 80%;
  }
}



@media (max-width: 480px) {
  .space {
    margin: 10px;
    max-height: none; 
  }

  .spacehead {
    flex-direction: column;
    align-items: flex-start;
  }

  .blu {
    width: 100%;  
  }
}
