.space{
    margin-top: 2%;
    margin-left:5% ;
    margin-right: 5%;
    background-color: #f5f9fa;
    margin-bottom: 2%;
    border: 2px solid rgba(99, 99, 99, 0.179);
    overflow: auto;
    max-height: 600px;  
    
}
.spacehead{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px;

    border-bottom: 2px solid rgba(99, 99, 99, 0.179);  
}

.spacetitle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1px;
    
}
.count span{
    margin-left: 3px;
    color: #cf334b;
}
.blu {
  margin: 24px auto;
  padding: 12px 0;
  width: 60%;
  max-width: 600px;
  background-color: #0175aa;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: block;
}

.blu:hover {
  background-color: #01628f;
}

.blu:disabled {
  background-color: #9bbccc;
  cursor: not-allowed;
}
