.feild {
  display: flex;
  align-items: flex-start;
  padding: 25px;
  gap:30%;
}

.det {
  min-width: 18%;
  max-width: 18%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-left: 10%;
}

.det span {
  color: red;
  font-weight: 400;
}

.input-wrap {
  display: flex;
  flex-direction: column;
  min-width: 30%;
}

.next {
  border: 2px solid #3ed03e5d;
  box-shadow: 0 0 6px #475448;
  padding: 9px;
}

.next.error {
  border-color: red;
}

.password-rules {
  margin-top: 6px;
  padding-left: 16px;
  font-size: 12px;
}

.password-rules li {
  color: #999;
}

.password-rules li.valid {
  color: green;
}

.error-text {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}
