.footer{
    background-color: #b9bdc7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 15px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.footer span{
    display: block;
    padding: 1px;
}