*{
    border: 0px;
    margin: 0px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
    gap: 15px;position: relative;
    border-bottom: 3px;
    border-style: solid;
    border-color: rgba(83, 89, 87, 0.577);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
 
    
}

.title span{
    display: block;
    align-items: center;
}
.logo img{
    width: 50px;
    height: auto;
    
}
.logo{
    left: 120px;
    position: absolute;
}
.userlogo img{
     width: 50px;
    height: auto;
}
.userlogo{
    position: absolute;
    right: 120px;
}